*
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{

    background:#eeebeb;;
    width: 90%;
    overflow: hidden;
}
#bp
{
    font-size: 8vw;
    margin-top: 10vw;
    margin-left: 25vw;
    
}
#fp
{
    font-size: 2vw;
    margin-left: 38vw;
    margin-top: -7vw;
}
form
{
    margin-left: 36.5vw;
    border: 1px solid rgb(196, 192, 255);
    box-shadow: 0px 0px 50px 20px  rgb(114, 114, 255);
    width: min-content;
    display: grid;
    place-content: center;
    border-radius: 20px;
}
#text
{
    border-radius: 20px;
    width: 25vw;
    height: 2.8vw;
    background-color:transparent;
}
#search
{
    position: relative;
    border-radius: 50px;
    width: 8vw;
    height: 3vw;
    top: -3.1vw;
    left: 20vw;
    color: rgb(2, 2, 2);
}
.d
{
    margin-top: -1vw;
    font-size: 1.2vw;
    margin-left: .5vw;
}
#text::placeholder
{
    color:rgb(1, 36, 36);
    font-size: large;
}
#d1
{
    border-radius: 50%;
    background-color: pink;
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: -0.2vw;
    box-shadow: 0px 0px 20px 2px rgb(253, 222, 227);
}
#d2
{
    border-radius: 50%;
    background-color: pink;
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 13vw;
    left: 5vw;
    box-shadow: 0px 0px 20px 2px rgb(253, 222, 227);
}
#d3
{
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 33vw;
    left: 85vw;
    box-shadow: 0px 0px 30px 25px rgb(133, 133, 252);
}
#d4
{
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 44vw;
    left: 88vw;
    box-shadow: 0px 0px 20px 2px rgb(133, 133, 252);
}
a
{
    text-decoration:none;
}
#kide1
{
 width: 14vw;
 position: absolute;
 top: 9vw;
 left: 82vw;
 transform: rotate(-10deg);
}
#kide2
{
    width: 8vw;
    position: absolute;
    top: 16vw;
    left: 86vw;
    transform: rotate(-3deg);
}
#kide3
{   
  width: 14vw;
  position: absolute;
  top: 30vw;
  left: 11vw;
  transform: rotate(5deg);

}
#kide4
{
    width: 8vw;
    position: absolute;
    left: 10vw;
    top: 36vw;
    transform: rotate(-3deg);
}
#searchicon
{
    position: absolute;
    top: 25vw;
    width: 30vw;
    left: 5vw;
}
